*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Node.js dependencies
node_modules/
dist/

# Fichiers SQLite temporaires
*.db-journal
*.db-shm
*.db-wal

# Fichiers Android générés
app/build/
/app/release/

# Fichiers accidentels
Saisissez

# Python
__pycache__/
*.pyc
